/* @font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: 700;
}

:root {
  --white: #fff;
  --light: #f5f4f0;
  --main: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 1.6em;
  color: #2a2626;
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3 {
  line-height: 1.2em;
  font-family: "Neucha", cursive;
  font-weight: normal;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 60px;
  color: var(--main);
}
h3 {
  font-size: 34px;
}
section {
}


.header {
  position: relative;
  overflow: hidden;
  height: 915px;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.background::before {
  content: "";
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 10%;
}
.header-content {
  position: relative;
  height: 451px;
}
.header-title {
  z-index: 2;
  position: relative;
}
.highlight {
  color: var(--main);
}
.header-img {
  position: absolute;
  top: -45px;
  right: -270px;
  height: 525px;
}
.header-text {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.header-text_left {
  width: 540px;
}
.header-text_right {
  width: 540px;
}
.header-text_right > p:nth-child(2) {
  margin-top: 1em;
}
.header-more {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 148px;
  color: #fff;
  font-weight: bold;
  background: #fe8a02;
  padding: 11px 24px 12px 23px;
  margin-top: 40px;
  line-height: 25, 6px;
}
.header-more:hover {
  background: #ea7600;
}


.video_section {
  text-align: center;
}
.video-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video_section-title {
  margin-bottom: 30px;
  color: var(--dark);
}
.video_section-title + p {
  margin-bottom: 30px;
}
.video {
  margin-bottom: -197px;
  border: 0;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}


.navigation_section {
  background-color: var(--basic-dark);
  padding-top: 100px;
}
.nav-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav-block h2 {
  color: var(--white);
  font-size: 52px;
  width: 350px;
}
.nav-block_itm {
  text-decoration: none;
  color: inherit;
  width: 350px;
  padding: 24px;
  background-color: var(--light);
}
.nav-block_itm:nth-child(-n + 3) {
  margin-bottom: 20px;
}
.card_number {
  font-family: "Neucha";
  color: var(--basic-dark);
  font-size: 64px;
  margin-bottom: 40px;
  line-height: 1;
}
.card_text {
  margin-top: 15px;
}
.nav-block_itm:hover {
  background-color: var(--main);
  color: var(--light);
}
.nav-block_itm:hover .card_number {
  color: var(--light);
}
.nav-block_itm:hover .card_title {
  color: var(--light);
}

.background_light {
  background-color: var(--light);
  position: relative;
}
.background_dark {
  background-color: var(--brown);
  position: relative;
}

.background_white {
  background-color: var(--white);
}

.color_white {
  color: #ffffff;
}
.color-brown {
  color: #d7ccc0;
}
.color_brown {
  color: var(--brown);
}
.color_white-dark {
  color: #d7ccc0;
}
.color-black {
  color: var(--dark);
}
.color_translucen {
  color: var(--translucent-dark);
}
.mr-30 {
  margin-right: 30px;
}

.block-content {
  position: relative;
}
.block-title {
  display: flex;
  justify-content: space-between;
}
.block-info {
  margin-top: 100px;
}
.block-img img {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}
.block-descr {
  font-family: "Neucha";
  font-size: 34px;
  line-height: 40.8px;
  width: 502px;
}
.block-descr_title {
  margin-bottom: 30px;
}
.block-descr_subtitle {
  font-size: 24px;
  line-height: 28.8px;
}
.block-info_title {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 0 5px 10px;
  margin-bottom: 20px;
}
.block-info_text {
  display: flex;
  justify-content: space-between;
}
.block-info_text p {
  width: calc(50% - 15px);
}

.feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 55px 55px 55px;
  margin-bottom: 60px;
  color: white;
  background: var(--basic-dark);
}
form > label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}
form p {
  font-size: 12px;
}
form p a {
  color: var(--white);
}
input {
  padding: 15px;
  width: 370px;
  border: 0;
  outline: none;
}
input::-webkit-input-placeholder {
  opacity: 0.2;
  font-size: 13, 1px;
}
input::-moz-placeholder {
  opacity: 0.2;
  font-size: 13, 1px;
}

button {
  height: 50px;
  width: 70px;
  border: 0;
  background: var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
button::before {
  content: "";
  background: url(img/send.svg);
  position: absolute;
  width: 25px;
  height: 25px;
}
button:hover {
  background: #ea7600;
}
form div {
  display: flex;
}
.contact {
  font-size: 14px;
}
.contact p {
  text-align: center;
}
.contact p:nth-child(-n + 2) {
  margin-bottom: 16px;
}
ul {
  margin: 9px 0 17px 40px;
}
 */

:root {
  --color-white: #fff;
  --color-translucent-white: #d7ccc0;
  --color-light: #f5f4f0;
  --color-main: #fe8a02;
  --color-main-dark: #42413c;
  --color-dark: #2a2626;
  --color-translucent-dark: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
  --font-main: "Open Sans", sans-serif;
  --font-title: "Neucha", cursive;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;

  color: var(--color-dark);

  font-size: 16px;

  font-family: var(--font-main);
  line-height: 1.6em;

  counter-reset: navigation;
}

h1,
h2,
h3 {
  margin: 0;

  color: var(--color-main);
  font-weight: 400;
  font-family: var(--font-title);
  line-height: 1.2em;
}

h1 span,
h2 span,
h3 span {
  color: var(--color-dark);
}

h1 {
  position: relative;

  margin: 0 0 101px;

  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

a {
  color: inherit;

  transition: 0.2s;
}

header img {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

footer {
  padding: 100px 0;
}

/* Background */

.background {
  position: relative;
}

.background::before,
.background::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}

.background::before {
  z-index: -1;
  opacity: 0.1;
}

.background::after {
  z-index: -2;
}

.background-image::before {
  background-image: url("img/background.png");
}

.background-color-light::after {
  background-color: var(--color-light);
}

.background-color-dark::after {
  background-color: var(--color-main-dark);
}

.background-color-brown::after {
  background-color: var(--color-brown);
}

/* Button */

.button {
  display: inline-block;
  margin-top: 40px;
  margin-left: calc(50% + 15px);
  padding: 12px 24px;

  color: var(--color-white);
  font-weight: bold;

  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--color-main);
}

.button:hover {
  background-color: #ea7600;
}

/* Card */

.card {
  position: relative;

  align-self: stretch;
  width: calc((100% / 3) - 20px);
  padding: 24px;

  background-color: var(--color-light);

  transition: 0.2s;
}

.card:hover {
  color: var(--color-white);

  background-color: var(--color-main);
}

.card::before {
  display: block;
  margin: 0 0 40px;

  color: var(--color-main-dark);
  font-size: 64px;
  font-family: var(--font-title);
  line-height: 1;

  transition: 0.2s;

  content: counter(navigation);
  counter-increment: navigation;
}

.card:hover::before {
  color: var(--color-white);
}

.card-title {
  margin: 0 0 16px;
}

.card:hover .card-title {
  color: var(--color-white);
}

.card-link {
  text-decoration: none;
}

.card-link::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
}

.card p {
  margin: 0;
}

/* Contacts */

.contacts {
  margin: 74px 0 0;

  font-size: 14px;
  text-align: center;
}

.contacts a {
  color: var(--color-blue);
}

/* Form */

.form-label {
  display: block;
  margin: 0 0 10px;

  font-size: 18px;
}

.form-control {
  position: relative;

  margin: 0;
  padding: 0;

  border: 0;
}

.form-input {
  width: 423px;
  height: 50px;
  margin-right: 62px;
  padding: 15px;

  border: 0;
}

.form-submit {
  position: absolute;
  top: 0;
  right: 0;

  width: 62px;
  height: 50px;

  border: 0;

  background-color: var(--color-main);

  cursor: pointer;

  transition: 0.2s;
}

.form-submit:hover {
  background-color: #ea7600;
}

.form-submit::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 24px;
  height: 24px;
  margin-top: -12px;
  margin-left: -12px;

  background-image: url("../images/send.svg");

  content: "";
}

.form-privacy {
  font-size: 12px;
  line-height: 1.6;
}

/* Section */

.section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
  column-gap: 30px;
}

.section-is-centered {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-title {
  margin: 0 0 30px;
}

.section-title + p {
  margin: 0 0 30px;
}

.background-color-light .section-title {
  color: var(--color-dark);
}

.background-color-brown .section-title {
  color: var(--color-white);
}

.background-color-light h3 {
  color: var(--color-dark);
}

.background-color-brown h3 {
  color: var(--color-white);
}

/* Columns */

.columns {
  margin-top: 100px;
  break-inside: avoid;
  columns: 2;
  column-gap: 30px;
}

.background-color-brown .columns {
  color: var(--color-white);
}

.columns p {
  margin-top: 0;
  break-inside: avoid;
}

.columns p:first-of-type {
  break-after: column;
}

.columns p:last-of-type {
  margin-bottom: 0;
}

.columns-title {
  margin: 0 0 20px;
  padding: 5px 10px;

  color: var(--color-white);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  column-span: all;

  background-color: var(--color-brown);
}

.background-color-brown .columns-title {
  color: var(--color-brown);

  background-color: var(--color-white);
}

/* Video */

.video {
  margin-bottom: -200px;

  border: 0;
}

/* Subscriber */

.subscriber {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1110px;
  margin: 0 auto;
  padding: 40px 55px;

  background-color: var(--color-main-dark);
}

.subscriber h3 {
  color: var(--color-white);
}

/* Subtitle */

.subtitle {
  color: var(--color-translucent-dark);
  font-size: 24px;
  font-family: var(--font-title);
  line-height: 1.2;
}

.background-color-brown .subtitle {
  color: var(--color-translucent-white);
}

/* Atomic */

.color-white {
  color: var(--color-white);
}

.flex-1 {
  flex: 1;
}

.filter {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.font-size-52 {
  font-size: 52px;
}

.pt-200 {
  padding-top: 200px;
}

.row-gap-20 {
  row-gap: 20px;
}

.mb-1em {
  margin-bottom: 1em;
}
